.screen {
  height: 100px;
  width: 100%;
  margin-bottom: 10px;
  padding: 0 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;

  font-family: digital;
  font-size: xx-large;
  font-weight: bold;
  background-color: #07090a2d;
  color: white;
  border-radius: 10px;
}
